{% block content %}
  <h1>Tutor Dashboard</h1>

  {% if user.is_authenticated %}
    <p>Welcome, {{ user.email }} . This is your official dashboard where you can manage batches and upload study materials </p>

    <!-- Navigation section for adding curriculum -->
    <h2>Add Curriculum</h2>
    <a href="{% url 'add_curriculam' %}">Add New Curriculum</a>
    <a href="{% url 'edit_curriculam' %}">Edit Curriculum</a>
    <a href="{% url 'delete_curriculam' %}">Delete Curriculum</a>

    <!-- Navigation section for adding timings -->
    <h2>Add Timings</h2>
    <a href="{% url 'add_time' %}">Add New Timings</a>
    <a href="{% url 'edit_time' %}">Edit Timings</a>
    <a href="{% url 'delete_time' %}">Delete Timings</a>

    <!-- Your tutor dashboard content goes here -->
  {% else %}
    <p>You need to be logged in to access the tutor dashboard.</p>
    <a href="{% url 'tutor_login' %}">Log in</a>
  {% endif %}
{% endblock %}
