{% extends 'core/base1.html' %}
{% block title %} All Tutors
{% endblock title %}
{% load static %}
{% block body %}

    <!-----Recent Additions--- -->
    <section class="Recent-Addition">
        <div class="container">
            <div class="row">
            {% for tutor in tutors %}
               <div class="item col-lg-3 col-md-4 mt-4">

                        <div class="main-hover-div">
                            <div class="user-profile-2">
                                <div class="item col-lg-3 col-md-4 mt-4">
                                  <li>{{ tutor.name }} - {{ tutor.email }} - {{ tutor.phone_number }}</li>
                                </div>


                                </div>
                            </div>

                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

{% endblock body %}


